<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>LUMC Geneeskunde 66 structuren MRI quiz</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block css %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		{% endblock %}

		{% block javascript %}
		{% endblock %}
	</head>

	<body>
		<div class="container">
            <h1>66 structuren MRI quiz</h1>

            {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}

			{% block content %}
			{% endblock %}

			<footer>
				<p>Gemaakt door Lucas van Dijk. Code beschikbaar: <a href="https://bitbucket.org/sh4wn/mri-quiz">Bitbucket</a></p>
			</footer>

		</div>

		<!-- JQuery/Bootstrap javascript so the page loads faster -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>




