{% extends "quiz.html" %}

{% block restart_url %}{% url "restart_mri" %}{% endblock %}
{% block page_header %}MRI Quiz{% endblock %}

{% block form %}
<form method="post" action="{% url "mri_quiz_view" %}">
<h2>MRI-scan</h2>
<p>
    <img src="{{ MEDIA_URL }}{{ current_mriset.image1 }}" alt="MRI Image 1" />
    <img src="{{ MEDIA_URL }}{{ current_mriset.image2 }}" alt="MRI Image 2" />
    <img src="{{ MEDIA_URL }}{{ current_mriset.image3 }}" alt="MRI Image 3" />
</p>
<h2>Selecteer de juiste bijbehorende structuur</h2>
{{ form.as_p }}

<p>
    <input type="submit" value="Check antwoord" />
</p>
{% csrf_token %}
</form>
{% endblock %}
