{% extends "master.html" %}

{% block content %}
{% if show_score %}
<h2>Je hebt deze quiz afgerond!</h2>
<p>
    Score: {{ request.session.score }} / {{ request.session.total }}
</p>
<p>
    <a class="btn btn-primary" href="{% url "restart" %}">Restart</a>
</p>
{% else %}
{% block form %}
<form method="post" action="{% url "quiz_view" %}">
<h2>{{ current_question.question }}</h2>
{% if current_question.image %}
<p>
    <img src="{{ MEDIA_URL }}{{ current_question.image }}" alt="Quiz Image" />
</p>
{% endif %}

{{ form.as_p }}

<p>
    <input type="submit" value="Check antwoord" />
</p>
{% csrf_token %}
</form>
{% endblock %}
{% endif %}
{% endblock %}
