{% extends "sidebar.html" %}
{% load quiz %}

{% block sidebar %}
{% quiz_sidebar %}
{% endblock %}

{% block main %}
<h1 class="page-header">{% block page_header %}{{ current_quiz.name }}{% endblock %}</h1>


{% if show_score %}
<div class="alert alert-info">
    <h3>Je hebt deze quiz afgerond!</h3>
    <p>
        {% block score %}
        Score: {% quiz_score current_quiz %} / {% quiz_total current_quiz %}
        {% endblock %}
    </p>
</div>
<p>
    <a class="btn btn-primary" href="{% block restart_url %}{% url "restart" quiz=current_quiz.slug %}{% endblock %}">Restart</a>
</p>
{% else %}

{% block form %}
<form method="post" action="{% url "quiz_view" quiz=current_quiz.slug %}">
<h2>{{ current_question.question }}</h2>
{% if current_question.image %}
<p>
    <img src="{{ MEDIA_URL }}{{ current_question.image }}" alt="Quiz Image" />
</p>
{% endif %}

{{ form.as_p }}

<p>
    <input type="submit" value="Check antwoord" />
</p>
{% csrf_token %}
</form>
{% endblock %}

{% endif %}
{% endblock %}
